body{
    margin: 0px;
    background-size:cover;
    background-repeat: no-repeat;
    padding: 0px;
    background-image:url("gradient.jpeg")
}
.title{
    background-color:#ef629f; 
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 25px;
    padding-top: 15px;
}

.game{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    font-weight: bold;
}
.score1{
    padding-right: 50px;
   
}

.score{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    margin-right: 45px;
    font-size: 30px;
    padding-top: 15px;
}

div.rockpaperscissor {
    position:absolute;
    max-width:45%;
    max-height:45%;
    top:20%;
    left:50%;
    overflow:visible;
}
img.rps {
    position:relative;
    max-width:100%;
    max-height:100%;
    margin-top:10px;
    margin-left:-50%;
}
.column-image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px;

}
.column-image1{
    transform: rotate(90deg);
    max-width: 100%;
    height: auto;
    margin-left: -90px;

    
}
.column-image2{
    transform: rotate(-90deg);
    max-width: 100%;
    height: auto;
    margin-right: -90px;
}
.container{
    display: flex;
    justify-content: center;
}
#btn{
    margin-top: 50px;
    height: 60px;
    width: 150px;
    font-size: 35px;
    font-weight: bold;
    background-color: aquamarine;
    border: none;
    
}
#btn:hover{
    background-color: blueviolet;
    cursor: pointer;
}